<mat-card class="my-card">
    <mat-card-header>
        <mat-card-title>Bernard Margarido</mat-card-title>
        <mat-card-subtitle>Heineken</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image  src="https://i.pinimg.com/originals/83/5c/6d/835c6db47b5c66f7779a2c9ff6dc1854.png" 
    alt="Homer Simpson">

    <mat-card-content>
       <ng-content></ng-content>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button color="accent">Like</button>
        <button mat-button color="primary">Share</button>
    </mat-card-actions>

</mat-card>
